@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Morganite';
  src: url('../fonts/Morganite/Morganite-Bold.ttf');
}

body {
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

#qty::-webkit-inner-spin-button,
#qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
